@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Macondo&display=swap');
h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container h1{
    font-family: 'Dancing Script', cursive;
}

.myform{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid red;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    background: blue;
    cursor: pointer;
}